body {
  font-size: 20px;
  background: url(background.jpg) bottom center;
  background-size: cover;
  margin:0;
  padding: 0;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .1rem solid rgb(31, 31, 31);
  border-radius: .2rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.1s ease;
  width: 10rem;
  /* min-width: 80px; */
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.3);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #6dc066;
  background: #6dc06644;
  box-shadow: 0 0 1rem #6dc066;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #6dc066;
}